/*** 

_ lorsque je débute une inté j'essaie d'organiser mon code de manière "logique"
- organisation du plus global au plus particulier 
- les génériques 
  / la base 
  / les texte/typo 
  / le layout global 
  / les blocs du layout 
  / les elements


**/

/*** generic ***/

* {
  box-sizing: border-box;
}

img {
  /* petit truc pour permettre a une image de ne pas deborder du parent */
  max-width: 100%;
  height: auto;
}

/*** base ***/

html {
  --col-primary: #cf9893;
  --col-second: #0b4628;
  --col-header: #f1e7e4;
  --col-text: #23001e;
  --col-body: #fbf7f5;
  --font-headings: 'Comfortaa', cursive;
  --font: 'Montserrat', sans-serif;
  /* des variables css .. on en repale ;) */
}

/* mode sombre ? pas de soucis grace aux variables et a la media query */ 
@media screen and (prefers-color-scheme:dark){
  html {
    --col-primary: #edd4d2;
    --col-second: #2a9c61;
    --col-header: #510145;
    --col-text: #fbf7f5;
    --col-body: #23001e;
  }
}

body {
  font-family: var(--font);
  background-color: var(--col-body);
  color: var(--col-text);
}

/*** Typography ***/

.title {
  font-size: 30px;
  font-family: var(--font-headings);
  color: var(--col-second);
  line-height: 1.3; /* line-height doit etre vu comme un multiplicateur de la font-size : 1.3 => 1.3 * 30px */
}
.title em {
  font-size: 22px;
  display: block;
  font-style: normal;
  color: var(--col-primary);
}

/*** Layout Global ***/

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

/*** Layout Header ***/

.header {
  background-color: var(--col-header);
  padding-top: 40px;
}

.header__nav {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__account {
  text-align: center;
}

.header__nav a {
  color: var(--col-text);
  text-decoration: none;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

.header__burger {
  position: absolute;
  top: 10px;
  right: 10px;
}

/*** Gestion du menu burger ***/
/*
- principe : au clic sur un btn header__burger , on va modifier son attribut aria-expanded
- et on va aussi ajouter une class particuliere sur le <body>  (is-header-active ici ) 
- qd le aria-expanded est a false => .header__burger .close est caché , 
- qd le aria-expanded est a true => .header__burger .close est montré et  .header__burger .open est caché 
- qd le <body> possede la classe .is-header-active > le menu (.header__container) est montré (sinon il est caché) 
*/
.header__burger .close {
  display: none;
}
.header__burger[aria-expanded='true'] .close {
  display: block;
}
.header__burger[aria-expanded='true'] .open {
  display: none;
}
.header__container {
  /** style pour simuler un menu fermé */
  overflow: hidden; /* overflow permet de ne pas montrer le contenu qui deborde */
  max-height: 0;
  transition: max-height 0.4s ease;
}
body.is-header-active .header__container {
  /* avec la classe sur le body on modifie la hauteur */
  max-height: 400px;
}

@media screen and (min-width: 900px) {
  body {
    padding-top: 130px; /* cause => navigation fixe */
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 110px;
    padding-top: 0;
    z-index: 1;
  }
  .header__nav {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .header__nav a {
    color: var(--col-text);
    text-decoration: none;
    font-weight: bold;
    margin-top: 40px;
  }
  .header__nav .header__logo {
    margin-top: 0;
  }
  .header__account {
    position: absolute;
    right: 10px;
    top: 40px;
  }
  /* plus besoin de burger ici , on le cache */
  .header__burger {
    display: none;
  }
  /* plus besoin de burger ici , on retabli un max height a none */
  .header__container {
    max-height: none;
  }
}

/*** Layout Footer ***/
.footer {
  /* @todo */
}

/*** Blocks ***/
/*** block bannner ***/
.banner{
  padding-top: 50px;
  position: relative;
  --bannerBubbleX : 40px;  
  --bannerBubbleY : 140px;  
}
.banner__img{
  margin: auto;
  max-width: 700px;
  margin-top: 40px;
}

.banner__title{
  font-weight: bold;
  font-size: 50px;
  border-bottom: 2px solid var(--col-primary);
  max-width: 300px;
  padding-bottom: 20px;
  margin: auto;
  position: relative;
}
.banner__title span{
  color: var(--col-primary);
}

.banner__title:before{
  content:'';
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  background-color: var(--col-header);
  top:-120px;
  right:-20px;
  transform : translate(var(--bannerBubbleX), var(--bannerBubbleY))
}


@media screen and (min-width: 900px) {
  .banner{
    display: flex;
  }
  .banner__img{
    margin-left: 100px;
  }
}


/*** block icons ***/
.icons {
  padding-top: 20px;
  padding-bottom: 20px;
}

.icons__list {
  list-style: none;
  padding-left: 0;
}

.icons__item {
  text-align: center;
  padding: 10px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.icons__text {
  margin-top: 10px;
}

.icons__title {
  text-align: center;
}
/* approche mobile first, apres 600px j'ajoute du flex */
@media screen and (min-width: 600px) {
  .icons__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .icons__item {
    flex-basis: calc(50% - 20px);
  }

  .icons__title {
    text-align: left;
  }
}

@media screen and (min-width: 900px) {
  .icons__item {
    flex-basis: calc(33% - 20px);
  }
}

/*** block cards ***/
.cards {
  padding-top: 20px;
  padding-bottom: 20px;
}
.cards__list {
  list-style: none;
  padding-left: 0;
}
.cards__item {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.cards__text {
  margin-top: 10px;
}

.cards__title {
  text-align: center;
}
@media screen and (min-width: 600px) {
  .cards__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .cards__item {
    flex-basis: calc(50% - 20px);
  }
  .cards__title {
    text-align: left;
  }
}

@media screen and (min-width: 900px) {
  .cards__item {
    flex-basis: calc(25% - 20px);
  }
}

/*** Elements ***/

/** btn ***/

/* btn - common*/
.btn{
  display: inline-block;
  padding: 8px 15px;
  text-align: center;
  border-radius: 30px;
  text-decoration: none;
  background-color:transparent;
  border:1px solid transparent;
  transition: color .3s ease, background-color .3s ease, border-color .3s ease;
}
/* btn - variants*/
.btn--primary{
  background-color:var(--col-text);
  color:white;
}
.btn--primary:hover,.btn--primary:focus{
  background-color:transparent;
  color:var(--col-text);
  border-color:var(--col-text);
}
.btn--second{
  color:var(--col-text);
  border-color:var(--col-text);
}
.btn--second:hover,.btn--second:focus{
  background-color:var(--col-text);
  color:white;
}

/** card **/
.card {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.card__img {
  height: 200px;
}

.card__img img {
  height: 100%;
  width: 100%;
  object-fit: cover; /* permet d'afficher toute l'image de maniere plus judicieuse */
  object-position: center;
}

.card__desc {
  margin-top: 10px;
  margin-bottom: 30px;
}
.card__title {
}
.card__btn {
  margin-top: auto;
}

