* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*** HAVE FUN WITH GRID ***/

.grid-example div {
  color: white;
  font-weight: 300;
  padding: 10px 20px;
}

.grid-example-item__1 {
  background-color: #0091c2;
}
.grid-example-item__2 {
  background-color: #c23100;
}
.grid-example-item__3 {
  background-color: #00c292;
}
.grid-example-item__4 {
  background-color: #9200c2;
}
.grid-example-item__5 {
  background-color: #893555;
}
.grid-example-item__6 {
  background-color: #355589;
}
.grid-example-item__7 {
  background-color: #357f89;
}

/****** jouer un peu avec display grid */
.grid-example {
  height: 600px;
  border: 2px solid red;
  /* cela va créer une grille (si on indique pas les columns ca ne fera pas grand chose) */
  display: grid;
  /* cela va créer les columns , on doit indiquer les largeurs de celles ci */
  grid-template-columns: 100px 1fr 2fr;
  grid-template-rows: 100px 1fr 2fr;
  /* fr > unité de mesure qui calcule l'espace libre @see https://css-tricks.com/introduction-fr-css-unit/ */
  grid-gap: 40px; /* creer des espaces entre les cellules de la grille */
}
.grid-example-item__5 {
  grid-column-start: 1;
  grid-column-end: 4;
}

/*** CREATE A COMPLEX LAYOUT ***/

.layout {
  margin-top: 1500px;
  min-height: 100vh;
  border: 1px solid red;
}

.layout__header {
  padding: 30px;
  color: white;
  background: #0091c2;
}
.layout__left {
  padding: 30px;
  color: white;
  background: #c23100;
}
.layout__right {
  padding: 30px;
  color: white;
  background: #00c292;
}
.layout__left a,
.layout__right a {
  color: white;
}
.layout__content {
  padding: 30px;
}
.layout__footer {
  padding: 30px;
  color: white;
  background: #607d8b;
}

/****
  creation d'un gabarit complexe avec grid et les grid area 
  - concept : matérialiser un layout grace a grid-template-area
  - avec une simple chaine de caractère on est capable de déterminer / nommer des zones de la grid

***/
.layout {
  display: grid;
  grid-template-columns: 200px 1fr 150px;
  grid-template-areas:
    'header header header'
    'gauche contenu droite'
    'footer footer footer'; /** it's magic */
}
.layout__header {
  grid-area: header; /* chaque enfant doit etre dans une zone nommée (attention sans " ) */
}
.layout__footer {
  grid-area: footer;
}
.layout__left {
  grid-area: gauche;
}
.layout__right {
  grid-area: droite;
}
.layout__content {
  grid-area: contenu;
}

/* en responside , on peut "juste" modifier la manière dont la grille travaille ses zones */
@media screen and (max-width: 800px) {
  .layout {
    grid-template-columns: 200px 1fr;
    grid-template-areas:
      'header header'
      'gauche contenu'
      'droite contenu'
      'footer footer';
  }
}

@media screen and (max-width: 550px) {
  .layout {
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'contenu'
      'gauche'
      'droite'
      'footer';
  }
}
